<h1>Workout Show page</h1>
<p><%= @workout.date %></p>
<p><%= @workout.time %></p>
<p><%= @workout.workout_type %></p>
<p><%= @workout.hours %>:<%= @workout.minutes %><%= @workout.seconds %></p>
<br>
<%= link_to "Add Cardio", new_user_workout_cardio_path(user_id: current_user.id, workout_id: params[:id]) %>
<hr>
<% @exercises.each do |exercise| %>
<p><%= exercise.name %></p>
<% end %>
<hr>
<% @cardios.each do |cardio| %>
<p><%= link_to cardio.name, user_workout_cardio_path(user_id: current_user.id, workout_id: params[:id], cardio_id: cardio.id) %> - <%= cardio.hours %>:<%= cardio.minutes %>:<%= cardio.seconds %> - <%= link_to "Delete", user_workout_cardio_path(user_id: current_user.id, workout_id: params[:id], cardio_id: cardio.id), method: :delete, data: { confirm: 'Are you sure?' }%></p>
<% end %>
