<h1>Add Cardio</h1>
<%= simple_form_for Cardio.new, url: user_workout_cardios_path, method: :post do |f| %>
<%= f.input :name %>
<%= f.input :cardio_type %>
<%= f.input :distance %>
<%= f.input :hours %>
<%= f.input :minutes %>
<%= f.input :seconds %>
<%= f.input :pace %>
<%= f.input :speed %>
<%= f.input :avg_hr %>
<%= f.input :max_hr %>
<%= f.input :kcal %>
<%= f.input :notes %>
<%= f.submit %>
<% end %>
