<h1>Cardio Show</h1>
<p><%= @cardio.name %></p>
<p><%= @cardio.cardio_type %></p>
<p><%= @cardio.hours %>:<%= @cardio.minutes %>:<%= @cardio.seconds %></p>
<p><%= @cardio.distance %></p>
<p><%= @cardio.pace %></p>
<p><%= @cardio.speed %></p>
<p><%= @cardio.avg_hr %></p>
<p><%= @cardio.max_hr %></p>
<p><%= @cardio.kcal %></p>
<p><%= @cardio.notes %></p>
