<h1>Stats Index</h1>
<%= link_to "Add Stat", new_stat_path %>
<% @stats.each do |stat| %>
<p><%= stat.weight %>kg, <%= stat.bf %>% Body Fat, <%= stat.lean %>kg Lean Body Mass <%= link_to "Delete", stat_path(stat.id), method: :delete, data: { confirm: 'Are you sure?' }%></p>
<% end %>
